.container {
  max-width: 1366px;
}
img {
  width: 100%;
}
.product-list-container.container {
  display: flex;
  flex-wrap: wrap;
}
.product-detail-wrapper {
  width: 250px;
  /* flex: 1 0 25%; */
}
h1.product-list {
  text-align-last: center;
}
.Product-details-container {
  position: relative;
  margin: 16px;
  min-height: 520px;
  /* width: 241px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.Product-details-container:hover {
  transform: scale(1.1);
}
.Product-details-container div {
  padding: 10px 10px;
}
button.add-to-cart {
  color: #fff !important;
  background-color: #218625 !important;
  padding: 8px 16px;
  font-weight: 600;
  border: none;
  background: center;
  width: 80%;
  margin: 0 10%;
  position: absolute;
  bottom: 20px;
}
